@model PSV01.UI.MVC.Models.ContactViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <title>Brenton Damron</title>
    <link rel="shortcut icon" href="~/Content/img/mainfav.ico">

    <!-- Google Font Roboto -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,100italic,300italic,400" rel="stylesheet" type="text/css">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <!-- Design Style MyWALL -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/mywall.min.css" />
    <!-- Black Style MyWALL -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/black.css" />
    <!--Custom styles sheet-->
    <link href="~/Content/css/CustomStyles.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
@*<body id="top2" style="display:none">
        <div id="top2stuff">
            Site currently undergoing maintenance for mobile viewports. Please view on computer.
        </div>
    </body>*@
<body id="top">





    @* BUTTON THAT OPENS SIDE NAV *@
    <div id="ha-header" class="left-nav">
        <img class="navbubble" src="~/Content/img/navbubble.png" />
        <span class="bubble-text">Site Navigation</span>
        <span id="open-nav" onclick="openNav()">

            <a class="dropdown-toggle circle-main">

                <svg class="hello" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>


            </a>
        </span>
    </div>



    @* ACTUAL NAV BAR FUNCTIONALITY/HTML *@
    <div id="sideNavPer" class="sideNavPer1">
        <div class="image-above">
            <img src="~/Content/img/programmer.png" class="image-here" />

        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><div id="x-x">&times;</div></a>
        <div class="nav-options">

            <a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#top" class="menu-item wall" style="margin-top:15%">Home</a>
            <a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#about" id="aboutme-method" class="menu-item wall">About Me</a>
            <a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#work" class="menu-item wall">Technical</a>
            <a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#education" class="menu-item wall">Experience</a>
            <a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#contacto" class="menu-item wall">Contact Me</a>

        </div>
    </div>
    <div id="main-stuff" style="opacity: 0; -webkit-transition: opacity 2s">




        <header>
            <!-- Menu Navigation -->
            <div id="top-container" class="container">
                <!-- Menu left -->
                <nav id="ha-header" class="left-nav ha-header">
                    <ul class="nav">
                        <li class="dropdown">

                            <!-- Navigation Sections -->
                            <ul class="dropdown-menu">
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#top" class="menu-item wall">Hello</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#about" class="menu-item wall">About Me</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#skills" class="menu-item wall">Skills and Abilities</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#education" class="menu-item wall">Education</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#work" class="menu-item wall">Work Experience</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#portfolio" class="menu-item wall">Portfolio</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#download" class="menu-item wall">Social Networks</a></li>
                                <li><a data-scroll data-options='{ "easing": "easeOutQuint" }' href="#contacto" class="menu-item wall">Contact Me</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- // Menu left -->
                <!-- Menu right - Hidden in small devices -->
                <a id="about-me-btn" class="hireme button-mywall" data-scroll data-options='{ "easing": "easeOutQuint" }' href="#about">About Me</a>
                <div class="nav-extra hidden-xs">
                    <!-- Button Contact Modal -->
                    <!-- Button 'Hire me' -->

                    <a class="hireme button-mywall" data-scroll data-options='{ "easing": "easeOutQuint" }' href="#contacto">Contact Me</a>

                </div>
                <!-- // Menu right -->
            </div>
            <!-- // Menu Navigation -->
            <!-- Personal Details -->
            <div id="second-container" class="container">
               
                <img class="img-circle imgsus" alt="Andrey Marin" src="~/Content/img/classPictures/profilePicture.jpg" />
                <h1 class="name-boss">Brenton Damron</h1>
                <h2 class="main-details">Software</h2>
                <img class="coggs" src="~/Content/img/cogs.png" style="height:100px" />
                <h2 id="engineer" class="main-details">Engineer</h2>
                <!--<p class="extend-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->



            </div>
            @* BELOW IS DOWNLOAD, LINKDED IN, and FACEBOOK *@
            <section id="download" class="full-download">
                <div id="responsive-social-download" class="container">
                    <div id="dl-id" class="row" style="margin-right:7%">
                        <!-- Social Networks -->
                        <div id="social-linkz" class="col-sm-12 btn-class col-md-7">
                            @*<a href="#" class="social-ink">
                                    <img class="socl" src="~/Content/img/twitter-icon.png" alt="twitter" />
                                </a>*@
                            <a href="https://www.facebook.com/public/Brenton-Damron" target="_blank" class="social-ink">
                                <img class="socl" src="~/Content/img/facebook-icon.png" alt="facebook" />
                            </a>
                            @*<a href="#" class="social-ink">
                                    <img class="socl" src="~/Content/img/google-icon.png" alt="google" />
                                </a>*@
                            <a href="https://www.linkedin.com/in/brenton-damron-353004134/" target="_blank" class="social-ink">
                                <img class="socl" src="~/Content/img/linkedin-icon.png" alt="linkedin" />
                            </a>
                        </div>
                        <!-- Download Resume - CV -->
                        <div class="col-sm-5 btn-class hidden-sm">
                            <a class="btn-dwnld" href="~/Content/img/PDFResume.pdf" target="_blank">Resume</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Personal Details -->

        </header>

        <!-- // About Me Intro -->
        <!-- About Me Context -->
        <section id="about" class="full-section my-about" style="height:100vh; background-color: rgb(230, 230, 230)">
            <!-- Top About me -->
            <article class="container">
                <div class="row">
                    <!-- Text about me -->
                    <div class="col-md-6">
                        <h2 class="title-main">Objective</h2>
                        <p class="text-main" style="font-size:3em">
                            Motivated software engineer certified in Microsoft’s .NET framework seeking entry level development position.
                        </p>
                    </div>
                    <!-- Image right about me -->
                    <div class="col-md-6">
                        <img class="img-responsive" src="~/Content/img/dotnet2.jpg" alt="working" style="margin-top:5em">
                    </div>
                </div>
                <div class="row">
                    <h2 class="title-main">About Me</h2>
                    <p style="font-size:1.5em">
                        I noticed technology at a very early age. From learning how to type, to later on building gaming computers. It has always been an important subject to me.
                        <br />
                        I made the decision to enroll at Centriq Training. This web development program began with the different tiers of software languages involved in the .NET Framework. I discovered their purpose and the "best practice" methodologies for writing clean and organized code. Once past concepts such as syntax, object oriented programming, and setting up/maintaining data, the course shifted to M.V.C. A design pattern that quickly allowed full implementation of all previously taught languages to build full-stack web applications.
                        <br />
                        I developed crucial soft skills throughout my experience in customer service. Traits necessary to reach goals included accepting feedback, critical thinking, time management, and conflict resolution. These skills fit together well with the professional qualities taught at Centriq involving communication. I am able to work independently when needed while still collaborating with team members as well. My skill-set adds value to an organization by applying my results driven personality to current projects and challenges. 
                    </p>
                </div>
            </article>
            <!-- // Top About me -->
            <!-- 3 Columns extra info -->
            <!-- // 3 Columns extra info -->
        </section>
        <!-- // About Me Context -->
        @*BELOW IS THE ABOUT ME SECTION*@
        @*<section id="about" class="cd-intro" onmouseover="setTimeout(aboutMe, 14000);">

                @*<h1 id="alternate2" class="cd-headline letters type" style="display:none; height:40%">

                    <span id="top-vid2" style="display: none">About Me</span>
                        <span id="top-vid">Core Competencies<br /></span>

                    <span id="textilate-js" class="cd-words-wrapper waiting">

                        <b class="is-visible">Customer Service.</b>


                        <b>Problem Solving.</b>
                        <b>Time Management.</b>
                        <b>About Me.</b>
                    </span>


                </h1>

                <div id="alternate" style="display: none">

                    <video autoplay>
                        <source src="~/Content/img/computer_typing.mp4" type="video/mp4">
                        Your browser does not support the video tag.

                    </video>

                </div>

            </section>*@




        @* BELOW IS THE TECHNICAL SKILLS *@
        <section id="work" class="full-section-two bg-work">
            <!-- Text Work Experience -->
            <div class="container">
                <h2 class="title-main mywhite">Technical Skills</h2>
                @*<p class="text-main mywhite">

                    </p>*@
            </div>
            <!-- Work -->
            <div class="container cont-mg">
                <!-- Nav tabs -->
                <ul id="sa-nav" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">Front End</a></li>
                    <li role="presentation"><a href="#2" role="tab" data-toggle="tab">MVC</a></li>
                    <li role="presentation"><a href="#3" role="tab" data-toggle="tab">Coming Soon</a></li>
                    <li role="presentation"><a href="#4" role="tab" data-toggle="tab">Coming Soon</a></li>

                </ul>


                <div class="tab-content">
                    <!-- Tab 1 -->
                    @* BELOW ARE THE LINKS TO THE TABS ALONG WITHT HE SCOREBARS *@

                    @* FRONT END LINKS *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1">
                        <h3 class="title-wk" style="margin-right: 65%; font-size: 4em; font-weight:400;">Front End</h3>
                        <div class="row">
                            <!-- Skills percent 1 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="jquery" class="img-skill" alt="html 5" src="~/Content/img/jQuery.png" /></div>
                                    <a onclick="jquery1()">
                                        <div class="col-sm-10 green-background" onclick="jquery1()">
                                            <div class="row">
                                                <div class="col-sm-12 title-skill">jQuery</div>
                                                <div class="col-sm-12 bar-skill">
                                                    <div class="this-skill my-green my-ninety"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Skills percent 2 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="css 3" src="~/Content/img/css3.png" /></div>
                                    <div class="col-sm-10 blue-background" onclick="css1()">
                                        <div class="row">
                                            <div class="col-sm-12 title-skill">CSS3</div>
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-blue my-houndred"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Skills percent 3 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="respdes" class="img-skill" alt="responsive" src="~/Content/img/responsive.png" /></div>
                                    <div class="col-sm-10 blue-background" onclick="resp1()">
                                        <div class="row">
                                            <div class="col-sm-12 title-skill">Responsive Design</div>
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-blue my-seventy"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Skills percent 4 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="JavaScript" src="~/Content/img/js.png" /></div>
                                    <div class="col-sm-10 green-background" onclick="jS1()">
                                        <div class="row">
                                            <div class="col-sm-12 title-skill">JavaScript</div>
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-green my-eighty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Skills percent 5 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs icon-skill"><img id="bootstrap" class="img-skill" alt="PHP" src="~/Content/img/bootstrap.png" /></div>
                                    <div class="col-sm-10 green-background" onclick="bootStrap1()">
                                        <div class="row">
                                            <div class="col-sm-12 title-skill">Bootstrap</div>
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-green my-eighty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Skills percent 6 -->
                            <div class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="tools" class="img-skill" alt="Wordpress" src="~/Content/img/tools.jpg" /></div>
                                    <div class="col-sm-10 blue-background" onclick="devTools1()">
                                        <div class="row">
                                            <div class="col-sm-12 title-skill">Developer Tools</div>
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-blue my-seventy"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // Skills percent -->
                        </div>
                    </div>





                    @* BELOW ARE THE HIDDEN TABS FOR EACH OF THE SKILLS *@

                    @* jquery tab *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1.1" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="jquery3()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">jQuery</span>
                        </h3>
                        <div class="row">
                            <!-- Skills percent 1 -->
                            <div id="jquery-bar" class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="jquery2" class="img-skill" alt="html 5" src="~/Content/img/jQuery.png" /></div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-green my-ninety"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @* TEXT INSIDE OF EACH INDIVIDUAL SKILL *@
                                <div class="skill-text">
                                    <p>
                                        jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* FOR CSS *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1.2" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="css2()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">CSS</span>
                        </h3>
                        <div class="row">
                            <!-- Skills percent 1 -->
                            <div id="jquery-bar" class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="css3" class="img-skill" alt="css 3" src="~/Content/img/css3.png" /></div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-blue my-ninety"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-text">
                                    Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language.
                                </div>
                            </div>
                        </div>
                    </div>
                    @* FOR RESPONSIVE DESIGN *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1.3" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="resp2()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">Responsive Design</span>
                        </h3>
                        @*

                            this is the bar below, will need styled later

                        *@
                        <div id="jquery-bar" class="col-md-6 separ">
                            <div class="row">
                                <div class="hidden-xs col-sm-2 icon-skill"><img id="respdes2" class="img-skill" alt="responsive" src="~/Content/img/responsive.png" /></div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-12 bar-skill">
                                            <div class="this-skill my-blue my-seventy"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-text">
                                <p>
                                    Responsive Web design is the approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation. The practice consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries.
                                </p>
                            </div>
                        </div>
                    </div>

                    @* FOR JAVASCRIPT *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1.4" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="jS2()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">JavaScript</span>
                        </h3>
                        @*

                            this is the bar below, will need styled later

                        *@
                        <div id="jquery-bar" class="col-md-6 separ">
                            <div class="row">
                                <div class="hidden-xs col-sm-2 icon-skill"><img class="img-skill" alt="JavaScript" src="~/Content/img/js.png" style="margin-top:-4.1em" /></div>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-sm-12 bar-skill">
                                            <div class="this-skill my-green my-eighty"></div>
                                        </div>
                                    </div>
                                    <div class="skill-text">
                                        <p>
                                            Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* FOR BOOTSTRAP *@
                    <div- role="tabpanel" class="tab-pane fade active in" id="1.5" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="bootStrap2()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">Bootstrap</span>
                        </h3>
                        <div class="row">
                            <!-- Skills percent 1 -->
                            <div id="jquery-bar" class="col-md-6 separ">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs icon-skill"><img id="bootstrap3" class="img-skill" alt="PHP" src="~/Content/img/bootstrap.png" /></div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-green my-eighty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-text">
                                    <p>
                                        Bootstrap is an open-source Javascript framework developed by the team at Twitter. It is a combination of HTML, CSS, and Javascript code designed to help build user interface components. Bootstrap was also programmed to support both HTML5 and CSS3.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div->
                    @* FOR DEV TOOLS *@
                    <div role="tabpanel" class="tab-pane fade active in" id="1.6" style="display:none">
                        <h3 class="title-wk">
                            <a onclick="devTools2()">
                                <span id="back-sa">
                                    Return
                                </span>
                            </a>
                            <span style="margin-left: -9%">Development Tools</span>
                        </h3>
                        <div class="row">
                            <!-- Skills percent 1 -->
                            <div id="jquery-bar" class="col-md-6 separ">
                                <div class="row">
                                    <div class="hidden-xs col-sm-2 icon-skill"><img id="tools3" class="img-skill" alt="css 3" src="~/Content/img/css3.png" /></div>
                                    <div class="col-sm-10">
                                        <div class="row">

                                            <div class="col-sm-12 bar-skill">
                                                <div class="this-skill my-blue my-houndred"></div>
                                            </div>
                                        </div>
                                        <div class="skill-text">
                                            <p>
                                                Web development tools allow web developers to test and debug their code. They are different from website builders and integrated development environments in that they do not assist in the direct creation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- Tab 2 -->
                    @*<div role="tabpanel" class="tab-pane fade" id="2" style="display:none">
                            <h3 class="title-wk">Wordpress Developer</h3>
                            <p class="wk-company">Envato</p>
                            <p class="text-wk">Duis aute irure dolor in reprehenderit in voluptate velit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <p class="wk-date">2014 - 2015</p>
                        </div>*@
                    <!-- Tab 3 -->
                    @*<div role="tabpanel" class="tab-pane fade" id="3">
                            <h3 class="title-wk">Web Designer</h3>
                            <p class="wk-company">Dribbble</p>
                            <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                            <p class="wk-date">2012 - 2014</p>
                        </div>*@
                    <!-- Tab 4 -->
                    @*<div role="tabpanel" class="tab-pane fade" id="4">
                            <h3 class="title-wk">Software Engineer</h3>
                            <p class="wk-company">Github</p>
                            <p class="text-wk">Duis aute irure dolor in reprehenderit in voluptate velit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <p class="wk-date">2010 - 2012</p>
                        </div>*@
                    <!-- Tab 5 -->
                    @*<div role="tabpanel" class="tab-pane fade" id="5">
                            <h3 class="title-wk">Freelancer (Web Designer)</h3>
                            <p class="wk-company">Freelancer</p>
                            <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                            <p class="wk-date">2008 - 2010</p>
                        </div>*@
                </div>
                <!-- // Tab panes -->
            </div>



        </section>

        @* BELOW IS WORK HISTORY *@
        <section id="education" class="full-section">
            <!-- Text Education -->
            <div class="container">
                <h2 class="title-main">Experience and Training</h2>
                @*<p class="text-main">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>*@
            </div>

            <!-- Timeline Responsive -->
            <article id="cd-timeline" class="cd-container">
                <!-- 1 Item -->
                <div class="cd-timeline-block">
                    <!-- Circle image 64x64 -->
                    <div class="cd-timeline-img my-green">
                        <img src="~/Content/img/ed2.png" alt="Engineering">
                    </div>
                    <!-- Info 1 Education -->
                    <div id="centriq" class="cd-timeline-content">
                        <h2>
                            Web Devlopment<img src="~/Content/img/down-arrow2.png"
                                                     id="centriq2" class="down-arrow" onclick="extend(1)" />
                        </h2>

                        <h3>Centriq Training</h3>
                        <span class="cd-date">March 2017 - July 2017</span>
                        <span id="centriq1" class="work-exp">
                            <br />
                            
                         
                            <br />
                            > Accelerated hands on coding program that provides current
                            information on how to become an asset to development teams.<br />
                            <br />
                   
                            > Core competencies of the web development track include MVC Framework, Source Control,
                            Trouble Shooting/Debugging, Professionalism, Pair Programming, and Effective Communication.
                        </span>

                    </div>
                </div>
                <!-- 2 Item -->
                <div class="cd-timeline-block">
                    <!-- Circle image 64x64 -->
                    <div class="cd-timeline-img my-green">
                        <img src="~/Content/img/brain.png" alt="Science">
                    </div>
                    <!-- Info 2 Education -->
                    <div id="midtown" class="cd-timeline-content">
                        <h2>
                            Testing Assistant<img src="~/Content/img/down-arrow2.png"
                                                  id="midtown2" class="down-arrow" onclick="extend(2)" />
                        </h2>
                        <h3>Midtown Psychological</h3>
                        <span class="cd-date">February 2013 – March 2017</span>
                        <span id="midtown1" class="work-exp">
                            <br />
                       
                            <br />
                            > Developed critical thinking skills while working in a
                            professional environment dealing with sensitive matters involving at risk children.
                            <br />
                            <br />
                           
                            > Assisted several psychologists in the process of
                            administering evaluations for clients involved with the
                            Division of Family Services (DFS). These evaluations were crucial in the reunification process.
                        </span>

                    </div>
                </div>
                <!-- 3 Item -->
                <div class="cd-timeline-block">
                    <!-- Circle image 64x64 -->
                    <div class="cd-timeline-img my-green">
                        <img src="~/Content/img/ed3.png" alt="Bachelor">
                    </div>
                    <!-- Info 3 Education -->
                    <div id="tubbys" class="cd-timeline-content">
                        <h2>
                            Customer Service<img src="~/Content/img/down-arrow2.png"
                                                 id="tubbys2" class="down-arrow" onclick="extend(3)" />
                        </h2>
                        <h3>Tubby's Sports Bar</h3>
                        <span class="cd-date">August 2014 – October 2016</span>
                        <span id="tubbys1" class="work-exp">
                          
                            <br />
                            <br />
                            > Ability to work under pressure while still interacting with team members to reach a common goal.
                            <br />
                            <br />
                            <br />
                          
                            > Followed
                            through on managements service requirements by using careful planning methods and multitasking.
                        </span>
                    </div>
                </div>
                <!-- The Beginning of Times image -->
                <div class="cd-timeline-block">
                    <!-- Circle image 64x64 -->
                    <div class="cd-timeline-img my-green">
                        <img src="~/Content/img/ed4.png" alt="Times">
                    </div>
                </div>
            </article>
            <!-- The Beginning of Times item -->
            <p class="txt-times">The Beginning of Time</p>
        </section>

        @* Classmates Carousel Links *@
        <section id="aboutme" class="full-section ha-waypoint" data-animate-down="ha-header-subshow" data-animate-up="ha-header-show">
            <div class="container">
                <h2 class="title-main" style="text-align:center;">Feel free to view my class's personal pages.</h2>
            </div>
            <!-- Owl Carousel images -->
            <div class="owl-carousel">
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/philO.jpg" />
                    <a href="http://www.philmadethat.com" target="_blank">
                        <h2 class="linksImageText">Philip Olson</h2>

                    </a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/ryanS.jpg" />
                    <a href="http://www.stenzelcoding.com" target="_blank"><h2 class="linksImageText">Ryan Stenzel</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/benT.jpg" />
                    <a href="http://www.bltcoding.com" target="_blank"><h2 class="linksImageText">Ben Taylor</h2></a>
                </div>

                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/johnT.jpg" />
                    <a href="http://www.jonathancoding.net" target="_blank"><h2 class="linksImageText">Jonathan Thomas</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/mattS.jpg" />
                    <a href="http://www.mattsoko.com" target="_blank"><h2 class="linksImageText">Matt Sokolowski</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/ericH.jpg" />
                    <a href="http://www.erichagenbuch.com" target="_blank"><h2 class="linksImageText">Eric Hagenbuch</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/patriciaR.jpg" />
                    <a href="http://www.patriciadev.com" target="_blank"><h2 class="linksImageText">Patricia Robinson</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/davidT.jpg" />
                    <a href="http://www.thecodingdavid.com" target="_blank"><h2 class="linksImageText">David Thomas</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/blakeB.jpg" />
                    <a href="http://www.blakeberkowitz.com" target="_blank"><h2 class="linksImageText">Blake Berkowitz</h2></a>
                </div>
                <div class="item">
                    <img alt="pexels-1" src="~/Content/img/classPictures/revaR.jpg" />
                    <a href="http://www.codingrevalution.com" target="_blank"><h2 class="linksImageText">Reva R</h2></a>
                </div>
            </div>
            <!-- // Owl Carousel images -->
            <!-- More about me and 3 columns -->

        </section>


        @* Below is the contact form *@
        <section id="contacto" class="full-section-three bg-contact">
            <div class="container">
                <!-- Title Contact me -->
                <h1 class="title-ct">Contact me.</h1>
                <p class="separator-ct"></p>
                <!-- Localization -->
                <div class="row">
                    <div class="col-md-6 col-xs-12 txt-center">
                        <p class="icon-ct glyphicon glyphicon-map-marker"></p>
                        <p class="text-ct">I live in <b>Kansas City</b></p>
                    </div>
                    <!--Mail -->
                    <div class="col-md-6 col-xs-12 txt-center">
                        <p class="icon-ct glyphicon glyphicon-send"></p>
                        <p class="text-ct">damrobre@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- Contact Form -->
            @* PART FROM THE VIDEO

              *@
            @*  *@
            @*  *@
            <article class="container cntme">
                @using (Html.BeginForm("Email", "Home", FormMethod.Post, new { id = "EmailForm" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Form inputs -->
                    <div class="row">
                        <div class="form-group col-md-6 col-md-offset-3">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                        <div class="form-group col-md-6 col-md-offset-3">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                        <div class="form-group col-md-6 col-md-offset-3">
                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", id = "message", rows = "8", placeholder = "Your Message Here" })
                        </div>
                    </div>
                    <!-- Button Send -->
                    <div class="row">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <div id="successmsg"></div>
                            <input type="submit" name="submit" class="btn btnc2 with-br btn-ctc" value="Submit">
                            @*<input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">*@

                        </div>
                    </div>
                }
            </article>

              @*  
            *@  @*
            *@
            <!-- // Contact Form -->
        </section>

        @* Below is the footer *@
        <footer class="full-footer">
            <div class="container padding-footer">
                <div class="row">
                    <!-- Text Left -->
                    <div class="col-sm-8 foo-left">This is my personal resume and I hope you enjoyed it. See you soon. <br> Brenton Damron</div>
                    <!-- Text Right -->

                </div>
            </div>
        </footer>


